*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

html {
  font-size: 62.5%;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: space-between;
}



header {
  background-color: #A4CBD4;
  color: #130036;
  border-bottom: #bce9f3 1px solid;
  align-items: center;
  display: flex;
  padding: 0 2rem;
  height: 6rem;
}

header svg {
  height: 3rem;
  width: 1rem;
  fill: #130036;
}

.logo {
  margin-right: .8rem;
}

.location {
  font-weight: normal;
  font-size: 1.6rem;
}

.current-date {
  font-size: 1.4rem;
  margin-left: auto;
}

main {
  background-color: #0083B2;
  color: #fff;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  padding: 0 2rem;
}

main > div {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #A4CBD4;
  border-top: #bce9f3 1px solid;
  color: #130036;
  align-items: center;
  display: flex;
}

main svg {
  fill: #fff;
  max-height: 21rem;
  width: auto;
}


.temp {
  font-size: 10rem;
  text-align: center;
}

.temp::after,
.forecast__temp::after {
  content: "º";
}

.forecast__date,
.forecast__temp {
  font-size: 1.2rem;
}

.forecast {
  display: flex;
  width: 100%;
  justify-content: center;
}

.forecast svg {
  fill: #130036;
  width: 4rem;
  height: 4.5rem;
}

.forecast__item {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.forecast__item:not(:last-child) {
  border-right: #95b8c0 1px solid;
}

.weather-secondary__item {
  flex: 1;
  text-align: center;
  padding: 2.4rem 0 1.6rem;
}

.weather-secondary__item:not(:last-child) {
  border-right: #55a2bb 1px solid;
}

.weather-secondary__item h2 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5;
}

.weather-secondary__item p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.weather-description {
  font-size: 1.6rem;
  text-transform: uppercase;
  border-bottom: #55a2bb 1px solid;
  padding-bottom: 1.6rem;
}

.weather-icon__container {
  margin-bottom: 1.6rem;
}
